<footer class="cell grid-x">
  <div class="cell small-12">
    <div class="cell small-2">
      0:00
    </div>
    <div class="cell small-8">
      <input type="range" value="0" min="0" max="0">
    </div>
    <div class="cell small-2">
      0:00
    </div>
  </div>
  <div class="cell small-2" id='info'>
    <h3>Song</h3>
  </div>
  <div class="cell small-8" id='controls'>
    <span><fa-icon [icon]="faCoffee"></fa-icon></span>
    <span><fa-icon [icon]="faCoffee"></fa-icon></span>
    <span><fa-icon [icon]="faCoffee"></fa-icon></span>
    <span><fa-icon [icon]="faCoffee"></fa-icon></span>
    <span><fa-icon [icon]="faCoffee"></fa-icon></span>
  </div>
  <div class="cell small-2" id="volume">
    <input type="range" name="volume" value="100" min="0" max="1" step="0.01">
  </div>
</footer>
