<!-- <div class="grid-x" id="songs-panel"> -->
  <div class="cell small-8" >
    <h1>Songs</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      <tbody>
        <tr *ngFor="let song of songs" (click)="playSong(song)">
          <td>{{song.name}}</td>
          <td><a routerLink="/artist/{{song.artist_id}}">{{ song.artist }}</a></td>
          <td><a routerLink="/album/{{song.album_id}}">{{ song.album_title }}</a></td>
        </tr>
      </tbody>

    </table>
  </div>
<!-- </div> -->
