<div id="home_container">
  <div class="grid-x">
    <h4>Recents</h4>
  </div>
  <div class="grid-x card_row">
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
  </div>

  <div class="grid-x">
    <h4>Playlists</h4>
  </div>
  <div class="grid-x card_row">
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
    <div class="home_card cell auto"><img src="https://via.placeholder.com/225" alt=""></div>
  </div>
</div>
